---
layout: page
title: Articles
---

{% assign all_docs = "" | split: "" %}
{% for collection in site.collections %}
  {% assign all_docs = all_docs | concat: collection.docs %}
{% endfor %}
{% assign sorted_docs = all_docs | sort: "date" | reverse %}
{% for doc in sorted_docs %}

  <article class="post-preview">
    <a href="{{ doc.url | prepend: site.baseurl | replace: '//', '/' }}">
      <h3 class="post-title">{{ doc.title }}</h2>
      <h4 class="post-subtitle">
        {% if doc.subtitle %}
          {{ doc.subtitle }}
        {% else %}
          {{ doc.excerpt | strip_html | truncatewords: 15 }}
        {% endif %}
      </h4>
    </a>
    <p class="post-meta">
      {{ doc.date | date: '%d-%m-%Y' }} &middot; {% include read_time.html content=doc.content %}
    </p>
  </article>

  <hr>

{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}

  <div class="clearfix">
  
    {% if paginator.previous_page %}
      <a class="btn btn-primary float-left" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer<span class="d-none d-md-inline"> Articles</span></a>
    {% endif %}
  
    {% if paginator.next_page %}
      <a class="btn btn-primary float-right" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older<span class="d-none d-md-inline"> Articles</span> &rarr;</a>
    {% endif %}
  
  </div>

{% endif %}
